<!DOCTYPE html>
<html>
<head>
    <title>Log In</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="login-container">
        <h1>Log In</h1>
        <div class="social-login">
            <a href="#" class="social-button google-button">
                <i class="fa fa-google"></i> Contine with Google
            </a>
            <br>
            <a href="#"class="social-button facebook-button">
                <i class="fa fa-facebook"></i> Continue with Facebook
            </a>
            
        </div>
        <p>OR</p>
        <form class="login-form">
            <input type="text" placeholder="Email address or user name" required>
            <input type="password" placeholder="Password" required>
            <div class="forget-pass">
                <a href="#">Forget your password</a>
            </div>
            <div class="remember-me-checkbox">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Remember me</label>
            </div>
            
            <br>
            <div class="login-button">
                <button type="submit">Log in</button>
                <br>
        </form>
        <br>
        <p>Don't have an account? <a href="#">Sign up</a></p>
    </div>
</body>
</html>