<!DOCTYPE html>
<html>
<head>
    <title>Log In</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <h1>Log In</h1>
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <div class="forget-pass">
                <a href="#">Forgot your password?</a>
            </div>
            <div class="remember-me-checkbox">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Remember me</label>
            </div>
            <button type="submit">Log in</button>
        </form>
    </div>
</body>
</html>
