<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    
    {% load static %}
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="signup-container">
        <h1 class="signup-title">Create an Account</h1>
        <p class="signup-subtitle">Already have an account? <a href="#">Log in</a></p>
        <div class="social-login">
            <a href="#" class="social-button facebook-button">
                <i class="fa fa-facebook"></i> Continue with Facebook
            </a>
            <br>
            <a href="#" class="social-button google-button">
                <i class="fa fa-google"></i> Continue with Google
            </a>
        </div>
        <p class="or">OR</p>
        <form>
            <p class="enter-email">Enter your email address to create an account</p>

            <input type="email" placeholder="Your email" required>
            <button type="submit">Create an account</button>
        </form>
    </div>
</body>
</html>