<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    
    {% load static %}
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="signup-container">
        <h1 class="signup-title">Create an Account</h1>
        <p class="signup-subtitle">Already have an account? <a href="{% url 'login' %}">Log in</a></p>


        <p class="or">OR</p>
        <form method="POST">
            {% csrf_token %}
            <p class="enter-email">Create your account</p>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <label for="role">Sign up as:</label>
            <select name="role" id="role">
                <option value="User">User</option>
                <option value="Admin">Admin</option>
            </select>
            <button type="submit">Create an account</button>
        </form>
    </div>
</body>
</html>
